--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
diffusers==0.32.2
huggingface-hub==0.29.3
transformers==4.50.0
peft @ git+https://github.com/huggingface/peft.git@e79fdd78f63ca274174fa973d79779107448e660
accelerate==1.5.2
safetensors==0.5.3
fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
python-dotenv==1.0.1
starlette==0.46.1
openai==0.28.0
httpx==0.28.1
requests==2.32.3
numpy==2.2.4
Pillow==11.1.0
filelock==3.18.0
tqdm==4.67.1
psutil==7.0.0
regex==2024.11.6
packaging==24.2
colorama==0.4.6
typing_extensions==4.12.2
click==8.1.8
fsspec==2025.3.0
importlib_metadata==8.6.1
sniffio==1.3.1
certifi==2025.1.31
idna==3.10
urllib3==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.2
zipp==3.21.0
boto3==1.34.79
